<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AccessAbility</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">0251568@up.edu.mx</a></i>
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">0252419@up.edu.mx</a></i>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="img/logo.png" alt=""> -->
          <h1 class="sitename">AccessAbility</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li class="dropdown"><a href="#"><span>Disabilities</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#Physical">Physical</a></li>
                <li><a href="#Cognitive">Cognitive</a></li>
                <li><a href="#Visual">Visual</a></li>
              </ul>
            </li>
            <li><a href="#call-to-action">Play</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#faq">FAQs</a></li>
            <li><a href="#footer">Contact</a></li>
            <li><a href="#login">Log-In</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5 justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2><span>Welcome to </span><span class="accent">AccessAbility</span></h2>
            <p>Fun, Inclusive Learning For All</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon">
                  <img src="img/physical.webp" class="icon-img">
                </div>
                <h4 class="title">
                  <a href="#Physical" class="stretched-link">Physical</a>
                </h4>
              </div>
            </div><!-- End Icon Box -->
            

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon">
                  <img src="img/cognitive2.png" class="icon-img">
                </div>
                <h4 class="title">
                  <a href="#Cognitive" class="stretched-link">Cognitive</a>
                </h4>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon">
                  <img src="img/visual.webp" class="icon-img">
                </div>
                <h4 class="title">
                  <a href="#Visual" class="stretched-link">Visual</a>
                </h4>
              </div>
            </div><!-- End Icon Box -->
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p>"Where Fun Meets Learning: Together, Building an Inclusive Tomorrow!"</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>Mission</h3>
            <p> Our mission is to foster a more inclusive and compassionate society by creating a dynamic platform that combines fun and education. We aim to raise awareness about the importance of inclusivity, particularly for people with disabilities, through engaging, accessible, and enjoyable content. By inspiring understanding and empathy, we strive to empower individuals to embrace diversity and work together to build a world where everyone has equal opportunities to thrive.</p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!--Disabilities Section-->
    <section id="Physical" class="container">
      <div class="info-card">
          <h2>Physical Disabilities</h2>
          <h3>What are they?</h3>
          <p>According to the World Health Organization (WHO), motor disability refers to "sequelae or malformations in the neuromuscular system, resulting in control issues over movement and posture."</p>
          <h3>Causes</h3>
          <p>Motor disabilities arise from various causes and are classified as physical disabilities.</p>
          <h3>Types</h3>
          <ul>
              <li>Spinal cord injury</li>
              <li>Chondrodystrophy</li>
              <li>Multiple sclerosis</li>
              <li>Cerebral palsy</li>
              <li>Spina bifida</li>
              <li>Muscular dystrophy</li>
              <li>Ataxia</li>
              <li>Trauma from head injuries</li>
          </ul>
          <h3>Resources</h3>
          <p>Accessible environments are crucial for supporting autonomy in people with physical disabilities.</p>
          <a href="https://empleo.fundacionadecco.org/">Employment resources for people with disabilities</a> <br>
         <!--<br><a href="games.html" class="animated-button">Play!</a>-->
            
      </div>
      
  </section>


  <section id="Cognitive" class="container">
    <div class="info-card">
        <h2>Cognitive Disabilities</h2>
        <h3>What are they?</h3>
        <p>Individuals with intellectual disabilities may struggle with social and intellectual skills needed for daily living.</p>
        <h3>Misconceptions</h3>
        <ul>
            <li>Intellectual disability is not a mental illness.</li>
            <li>People with intellectual disabilities are equal citizens.</li>
            <li>Each individual has unique abilities, interests, dreams, and needs.</li>
        </ul>
        <h3>Causes</h3>
        <p>Intellectual disabilities affect around 1% of the population and have diverse causes.</p>
        <h3>Treatment</h3>
        <p>Treatment aims to help individuals reach their full potential through specialized training and education.</p><br> 
          
    </div>
</section>

<section id="Visual" class="container">
  <div class="info-card">
      <h2>Visual Disabilities</h2>
      <h3>What are they?</h3>
      <p>Visual impairment ranges from partial vision loss to complete blindness, affecting visual acuity, field of vision, and reading ability.</p>
      <h3>Causes</h3>
      <p>Diabetes and other chronic conditions can lead to vision loss or blindness.</p>
      <h3>Difficulties</h3>
      <p>Those who are blind or have low vision may experience challenges in everyday tasks and navigating spaces.</p><br>
        
  </div>
</section>


    <!--/Disabilities Section-->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <div class="container">
        <img src="img/play.jpg" alt="">
        <div class="content row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Play</h3>
              <p>Test your knowledge here</p>
              <!-- Link the button to another page (example: test.html) -->
              <a class="cta-btn" href="/games">Play</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Team</h2>
        <p>Meet the people behind this website</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="img/paola.jpg" class="img-fluid" alt="">
              <h4>Paola Ortega</h4>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="img/karla.jpg" class="img-fluid" alt="">
              <h4>Karla Avila</h4>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>What is a Disability?</span></h3>
                <div class="faq-content">
                  <p>A disability is any condition that impairs a person´s ability to perform certain activities or interact with the world around them.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">2.</span> <span>How can I help someone with a disability?</span></h3>
                <div class="faq-content">
                  <p>It´s important to listen to their needs, respect their preferences, and offer assistance in a way that maintains their dignity. Educate yourself about the specific disability and be supportive.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>What are the different types of disabilities?</span></h3>
                <div class="faq-content">
                  <p>Disabilities can be categorized into four main types: physical disabilities, cognitive disabilities, sensory disabilities and mental health disabilities Each type can affect an individual in unique ways and not all of them are visible. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">4.</span> <span>What is the difference between a visible and invisible disability?</span></h3>
                <div class="faq-content">
                  <p>Visible disabilities are those that can be seen, like weelchair use or a prosthetic limb. Invisible disabilities, like chronic pain or mental health conditions, are not immediately noticeable.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->


  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">AccessAbility</span>
          </a>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#">Disabilities</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#faq">FAQs</a></li>
          </ul>
        </div>


        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p><strong>Email:</strong> <span>0251568@up.edu.mx</span></p>
          <p><strong>Email:</strong> <span>0252419@up.edu.mx</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">AccessAbility</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>